
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 2, 2, 0.981);
    padding: 1.875rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 8.4375rem;
    padding: 0.625rem 1.5625rem;
    background-color: rgba(53, 2, 2, 0.981);
    border: 0.125rem solid white;
    border-radius: 0.3125rem;
    color: white;
}

.game-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 26.5rem;
    width: 50rem;
    border-radius: 0.625rem;
    margin: 3.125rem auto;
    background-image: url("assets/images/img/wall.jpg");
    background-size: 100%;
    background-position-y: -15.9375rem;
    box-shadow: 0 0 3.125rem 1.875rem rgba(0, 0, 0, 0.5);
    cursor: url(assets/images/svg/aim.svg), pointer;
}

.item {
    box-sizing: border-box;
    width: 7.5rem;
    aspect-ratio: 1;
    margin: 0.625rem 1.25rem;
}